# vim:ft=sh

alias ls='ls -h -X --color=auto --group-directories-first --hide="*.pyc"'
alias tree='tree -I "*.pyc"'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'

alias pacman='pacman-color'
alias man='PAGER=vimpager man'
alias gtick='aoss gtick'
alias sbagen='aoss sbagen'

# Super abbreviations
alias l='ls'
alias g='git'
alias p='ps ax | grep '
alias v='vim'
alias t='task'
